html{
	scroll-behavior: smooth;
}

.title{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right,rgb(0,0,0,0.3),rgb(0,0,0,0.5)),url(../img/projectttbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title img{
    width: 40%;
    margin: 0px auto;
    padding-top: 80px;
}

.projectDescription p{
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    font-size: 120%;
    text-indent: 50px;
    color: #333;
    background-color: #eaeaea;
    border-radius: 25px;

}

.departmentTitle h1{
    width: 30%;
    margin: 30px auto;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #0092cc;
    border-bottom: 5px solid #0092cc; 
}

.navigateToMajorProject{
    width: 80%;
    margin: 30px auto 100px auto;
}

.flexContainer{
    display: flex;
}

.parentContainer{
    width:300px;
    height: 300px;
    padding: 0px;
}

.childBackgroundIst{
    width:100%;
    height: 100%;
    background-image: url("../graphic/projectnavigateict-01.png");
    background-position: center;
    background-size: cover;
    transition: all .3s;
}

.childBackgroundCe{
    width:100%;
    height: 100%;
    background-image: url("../graphic/projectnavigatece-01.png");
    background-position: center;
    background-size: cover;
    transition: all .3s;
}

.childBackgroundEce{
    width:100%;
    height: 100%;
    background-image: url("../graphic/projectnavigateece-01.png");
    background-position: center;
    background-size: cover;
    transition: all .3s;
}

.childBackgroundPre{
    width:100%;
    height: 100%;
    background-image: url("../graphic/projectnavigatepre-01.png");
    background-position: center;
    background-size: cover;
    transition: all .3s;
}

.childBackgroundAme{
    width:100%;
    height: 100%;
    background-image: url("../graphic/projectnavigateame-01.png");
    background-position: center;
    background-size: cover;
    transition: all .3s;
}

.parentContainer:hover .childBackgroundIst{
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0px  0px 10px rgb(83, 83, 83);
    transition: all .5s;
}
.parentContainer:hover .childBackgroundCe{
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0px  0px 10px rgb(83, 83, 83);
    transition: all .5s;
}
.parentContainer:hover .childBackgroundEce{
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0px  0px 10px rgb(83, 83, 83);
    transition: all .5s;
}
.parentContainer:hover .childBackgroundPre{
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0px  0px 10px rgb(83, 83, 83);
    transition: all .5s;
}
.parentContainer:hover .childBackgroundAme{
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0px  0px 10px rgb(83, 83, 83);
    transition: all .5s;
}


.parentContainer span{
    color: white;
    font-size: 120%;
    font-weight: bold;
    margin: 0px auto;
    position: absolute;
}

a, a:active, a:focus {
    outline: none;
 }

 button, button:active, button:focus{
     outline: none;
 }