html{
	scroll-behavior: smooth;
}
main{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	
}
h1,h2{
	text-align: center;
	font-weight: bold;
	line-height: 150%;
}
p{
	font-size: 100%;
}
#flex{
	display: flex;

}
#witheight{
	width: 120px;
	height: 120px;
	padding: 8px 8px;
	border-radius: 20px;
}
#marginleft{
	margin-left: 30px;
}
#flex1{
	margin-left: 70px;
	display: flex;
	width: 500px;
	border: 1px ridge;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333;
}
#backgroundimage{
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/photo/images3.jpg");
	background-size: cover;
	background-position: top;
}

body,html{
    padding: 0px;
    margin: 0px;
  }

.navcontainer{
    width: 100%;
    background-color: white;  }
  /*for nav conatiner*/
  .fornav{
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
    
  }
   .has-sub-menu{
    position: relative;
}
.sub-menu-container{
  display: none;
  position: absolute;
  background-color: transparent;
  
}
.has-sub-menu:hover .sub-menu-container{
  display: block;
  
}
.has-sub-menu:hover{
  background-color: #0092cc;

}
.name{
  color: #0092cc;
  font-weight: bold;
}
.sub-menu{
  width: 230px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;

}

.sub-menu li{
  padding-left: 5px; 
}
  
 
.bookimg{
    height: 200px;
    box-shadow: 10px 10px 5px grey;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    
}
.hovernav:hover {
  background-color: #0092cc;
}
.navimg{
  width: 20px;
}
#buttonprevious{
  margin-left: 60px;
  border: 2px ridge #0092cc;
  box-shadow: 5px 5px 5px #0092cc;
  background-color: #eaeaea;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

a, a:active, a:focus {
  outline: none;
}

button, button:active, button:focus{
   outline: none;
}