html{
	scroll-behavior: smooth;
}

.title{
  width: 100%;
  height: 250px;
  background-image: linear-gradient(rgba(0, 62, 143, 0.5),rgba(0, 20, 58, 0.5)), url("../img/shoptt_back.jpg");
  background-size: cover;
}
.title img{
  width: 60%;
  margin: auto;
  padding-top: 80px;
}

main{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#heroimage{
    background-image: url("../img/photo/restaurant6.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#data{ 
    margin-left: 160px;
    border: 1px ridge #eaeaea;
    background-color: #eaeaea;
    width: 180px;
    height: 210px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;

}
#widtheight{
    width: 120px;
    height: 120px;
    margin-left: 28px;
}
#flex{
    display: flex;
    margin-top: 50px;
}
main a{
    text-decoration: none;
}
#data:hover{
    -webkit-transform: scale(1.1);
}
body,html{
    padding: 0px;
    margin: 0px;
  }

.navcontainer{
    width: 100%;
    background-color: white;  }
  /*for nav conatiner*/
  .fornav{
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
    
  }
   .has-sub-menu{
    position: relative;
}
.sub-menu-container{
  display: none;
  position: absolute;
  background-color: transparent;
  
}
.has-sub-menu:hover .sub-menu-container{
  display: block;
  
}
.has-sub-menu:hover{
  background-color: #0092cc;

}
.name{
  color: #0092cc;
  font-weight: bold;
}
.sub-menu{
  width: 230px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;

}

.sub-menu li{
  padding-left: 5px; 
}
  
 
.bookimg{
    height: 200px;
    box-shadow: 10px 10px 5px grey;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    
}
.hovernav:hover {
  background-color: #0092cc;
}
.navimg{
  width: 20px;
}

a, a:active, a:focus {
  outline: none;
}

button, button:active, button:focus{
   outline: none;
}